@font-face {
    font-family: 'PlayfairDisplay';
    src: url('fonts/PlayfairDisplay-MediumItalic.ttf') format('truetype');
}
header {
    margin-top: 100px;
}
#rsvp-button{
    margin: 40px auto;
    display: block;
}
h3 {
    font-size: 30px;
    font-family: 'PlayfairDisplay', sans-serif;

}

p {
    font-size: 20px;
    line-height: 1.6;
}
a{
    text-decoration: none;
}
button {
    font-size: 30px;
    padding: 10px 25px;
    border: 5px solid #e1374e;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 30px;
    background-color: #fff3f4;
    font-family: 'PlayfairDisplay', sans-serif;
}

button:hover {
    background-color: #e1374e;
    color: white;
}
#ysys{
    text-align: center;
}
header{
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
}
main {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
}
#save-logo{
    width: 400px;
    height: auto;
    display: block;
    margin: 30px auto;

}
#save-introduction{
    border: 5px solid #e1374e;
    border-radius: 50px;
    background-color: #fff3f4;
    margin: 10px auto;
    padding: 10px 20px 10px 20px;
    max-width: 800px;
}
#how-it-works{
    border: 5px solid #e1374e;
    border-radius: 50px;
    background-color: #fff3f4;
    padding: 20px 60px 20px 60px;
    max-width: 800px;
}
